<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bookify">

        <activity android:name=".MainActivity"        android:exported="true"  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"         android:exported="false" android:label="Login" />
        <activity android:name=".RegisterActivity"      android:exported="false" android:label="Register" />
        <activity android:name=".HomeFeedActivity"      android:exported="false" android:label="Home" />
        <activity android:name=".ExploreActivity"       android:exported="false" android:label="Explore" />
        <activity android:name=".EventDetailActivity"   android:exported="false" android:label="Event Details" />
        <activity android:name=".MyTicketsActivity"     android:exported="false" android:label="My Tickets" />
        <activity android:name=".PrivateEventActivity"  android:exported="false" android:label="Private Event" />
        <activity android:name=".MyBookingsActivity"    android:exported="false" android:label="My Bookings" />
        <activity android:name=".ProfileActivity"       android:exported="false" android:label="Profile" />
        <activity android:name=".SettingsActivity"      android:exported="false" android:label="Settings" />
        <activity android:name=".AdminActivity"         android:exported="false" android:label="Admin Dashboard" />
        <activity android:name=".PromoterActivity"      android:exported="false" android:label="Promoter Dashboard" />
        <activity android:name=".PaymentActivity"       android:exported="false" android:label="Payment" />
        <activity android:name=".TicketDetailActivity"  android:exported="false" android:label="Ticket Details" />

    </application>

</manifest>